.title {
    font-family: 'Open Sans'sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.info {
    font-family: 'Open Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00072B;

}

.container {
    margin-left: 36px;
    margin-right: 32px;
    width: 96% !important;
    margin-top: 41px;
}

@media screen and (max-width: 375px) {
    .container {
        margin-left: 5px;
        margin-right: 0;

    }
    .divOrder{
        padding-left: var(--bs-gutter-x,.35rem) !important;
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
}